# Example robodoc.rc
#
items:
    NAME
    SYNOPSIS
    DESCRIPTION
    EXAMPLE
    NOTES
    INPUTS
    OUTPUTS
    SIDE EFFECTS
    HISTORY
    BUGS
    METHODS
    SEE ALSO
    TODO
ignore items:
    HISTORY
    BUGS
source items:
    SYNOPSIS
    EXAMPLE
options:
    --src ./libsrc
    --doc ./doc
    --html
    --multidoc
    --index
    --tabsize 2
    --one_file_per_header
    --cmode
    --documenttitle "LAVAflow - Library for Advanced Variable Analysis"
    --toc
    --nopre
    --css misc/robodoc.css
ignore files:
    README
    CVS
    *.bak
    *~
    "a test_*"
accept files:
    *.cxx
    *.h
header markers:
    //****
remark markers:
    //
end markers:
    //****
keywords:
    auto
    const
    double
    float
    int
    short
    struct
    unsigned
    break
    continue
    else
    for
    long
    signed
    switch
    void
    case
    default
    enum
    goto
    register
    sizeof
    typedef
    volatile
    char
    do
    extern
    if
    return
    static
    union
    while
    asm
    dynamic_cast
    namespace
    reinterpret_cast
    try
    bool
    explicit
    new
    static_cast
    typeid
    catch
    false
    operator
    template
    typename
    class
    friend
    private
    this
    using
    const_cast
    inline
    public
    throw
    virtual
    delete
    mutable
    protected
    true
    wchar_t
    and
    bitand
    compl
    not_eq
    or_eq
    xor_eq
    and_eq
    bitor
    not
    or
    xor


